<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
  <link rel="stylesheet" href="static/Metro-UI/css/metro-bootstrap.css">
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/jquery.ui.widget.min.js"></script>
        <script src="static/Metro-UI/min/metro.min.js"></script>
	<script src="static/Metro-UI/js/metro-dropdown.js"></script>
</head>
<body class="metro">

<nav class="navigation-bar dark">
    <nav class="navigation-bar-content">
        <a href="/" class="element">SocioFeed</a>
    </nav>
</nav>

<table id="example" class="hover" width="1000px">
    <thead>
      <tr><th>News from {{name}}!</th></tr>
    </thead>

    <tbody class="striped">
      {% for post in data['entries'] %}
  
      <tr><td><a href="{{ post['link'] }}" > {{ post['title'] }}</a></td></tr>

      {% endfor%}
    </tbody>
  </table>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <script>
  $(function(){
    $("#example").dataTable();
  })
  </script>
</body>
</html>
