{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript">
      var data = [];
      {% for key,value in word_array.iteritems()%}
      data.push({ text:"{{key}}", weight:{{value}} });
      {% endfor %}


      var data1 = [{ text:"google",weight:"50",link:"http://google.com" }];
      $(function() {
        $("#example").jQCloud(data);
      });
    </script>
    
    <div class="container" id="example" style="width: 550px; height: 350px;">
    </div>

{% endblock %}
