    <!DOCTYPE HTML>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>SocioFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel='stylesheet' id='prettyphoto-css'  href="static/css/prettyPhoto.css" type='text/css' media='all'>
    <link href="static/css/fontello.css" type="text/css" rel="stylesheet">
    <link href="static/css/jqcloud.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <!--[if lt IE 7]>
            <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">  
        <![endif]-->
    <!-- Google Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <!-- JQuery -->
        <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    
    <!-- Load ScrollTo -->
    <script type="text/javascript" src="static/js/jquery.scrollTo-1.4.2-min.js"></script>
    <!-- Load LocalScroll -->
    <script type="text/javascript" src="static/js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- prettyPhoto Initialization -->
    <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto();
          });
        </script>
    
    <script type="text/javascript">
      var data = [];
      {% for key,value in words.iteritems()%}
      data.push({ text:"{{key}}", weight:{{value}},link:"/searching/{{key}}" });
      {% endfor %}
      $(function() {
        $("#example").jQCloud(data);
      });
    </script>


    </head>
    <body>
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top">SocioFeed!</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="channels" href="#channels">NewsFeed Channels</a></li>
                <li><a title="trends" href="#trends">Trending this week!</a></li>
               <!--  <li><a title="news" href="#news">News</a></li>
                <li><a title="team" href="#team">Team</a></li>
                <li><a title="contact" href="#contact">Contact</a></li> -->
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>SocioFeed!</span> We bring news that matters to you. </h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2>Search For News that matters you the most !</h2>
	      <form method="post" action="{{ url_for('search') }}">
              <input type="text" name="search_query" placeholder="2014 National Polls" class="cform-text" size="40" title="Search">
              <input type="submit" value="Search" class="cform-submit">
	      </form>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>We work to bring your favourite news</p>
                <p>We follow & update the news you read previous</p>
                <p>Login and get a personalized experience.</p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
<hr>
 <!--******************** Team Section ********************-->
    <section id="channels" class="single-page scrollblock">
      <div class="container">
      <!--  <div class="align"><i class="icon-group-circled"></i></div>-->
        <h1>News Channel</h1>
        <!-- Five columns -->
        <div class="row">
          <div class="span2 offset1">
	    <span> <div class="teamalign"> <a href="\google"><img class="team-thumb img-circle" src="static/img/google.gif" alt=""> </a></div><span>
            <h3>Google</h3>            
          </div>

          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="static/img/toi1.jpg" alt=""> </div>
            <h3>Times of India</h3>            
          </div>

          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="static/img/reddit.jpg" alt=""> </div>
            <h3>Reddit</h3>  
          </div>

 <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <a href="\mashable"><img class="team-thumb img-circle" src="static/img/mashable.jpg" alt=""> </div>
            <h3>Mashable</h3>
          </div>
          
          <!-- ./span2 -->
	  <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="static/img/bbc.jpg" alt=""> </div>
            <h3>BBC News</h3>
          </div>

        </div>
        <!-- /.row -->


     <hr class="featurette-divider">
</div>
    </section>

    <section id="trends" class="single-page scrollblock">
      <div class="container" id="example" style="width: 550px; height: 350px;">
	<hr class="featurette-divider">
    </div>
    </section>
    
    <!-- Loading the javaScript at the end of the page -->
    <script type="text/javascript" src="static/js/jqcloud-1.0.4.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="static/js/site.js"></script>
    
    </body>
    </html>
