<!DOCTYPE html>
<html>
  <head>
    <title>Sociofeed</title> 
    <script type="text/javascript" src="./static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="./static/js/bootstrap.js"></script>
    <script type="text/javascript" src="./static/js/jqcloud-1.0.4.js"></script>
    <link href="./static/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <link href="./static/css/jqcloud.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">SoCiOfEeD :-)</h1>
      </div>
    </header>
     
      {% block content %}
      {% endblock %}
         
  </body>
</html>

